/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.background{
    background-color:"Black"
    display:flex;
    flex-direction:column;
    align
}

.heading{
    color:"#ffffff"
    font-weight:Bold
    font-family:"Roboto"
    font-size:32px;
}


@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}

.image{
  width: 150px;
  height: 150px;
}

@media screen and (min-width: 768px) {
  .image {
    width: 300px;
    height: 300px;
  }
}
